<mat-toolbar color="primary">
  <mat-toolbar-row calss="mat-toolbar-row">
    <button mat-button class="hamburger" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button *ngIf="!isLoggedIn" (click)="login(selectedUser)">LOGIN</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">LOGOUT</button>
    <!--    <mat-form-field *ngIf="!isLoggedIn">-->
    <!--      <select matNativeControl [(ngModel)]="selectedUser" required>-->
    <!--        <option value="1" selected>Developer</option>-->
    <!--        <option value="2">Accountant</option>-->
    <!--      </select>-->
    <!--    </mat-form-field>-->
    <mat-form-field *ngIf="!isLoggedIn">
      <mat-select [(ngModel)]="selectedUser">
        <mat-option *ngFor="let user of users" [value]="user.key">
          {{user.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="push">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Top level item
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Second level item 1</p>
            <p>Second level item 2</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


