<mat-toolbar color="primary">
  <mat-toolbar-row calss="mat-toolbar-row">
    <button mat-button class="hamburger" [mat-menu-trigger-for]="mainMenu.childMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button *ngIf="!isLoggedIn" (click)="login(selectedUser)">LOGIN</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">LOGOUT</button>
    <mat-form-field *ngIf="!isLoggedIn">
      <mat-select [(ngModel)]="selectedUser">
        <mat-option *ngFor="let user of users" [value]="user.key">
          {{user.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<app-menu-item #mainMenu [items]="navItems"></app-menu-item>

<!--<mat-menu #mainMenu="matMenu" [overlapTrigger]="false">-->

<!--  <ng-container *ngFor="let child of navItems">-->
<!--    &lt;!&ndash; Handle branch node menu items &ndash;&gt;-->
<!--    <ng-container *ngIf="child.children && child.children.length > 0">-->
<!--      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">-->
<!--        <mat-icon>{{child.iconName}}</mat-icon>-->
<!--        <span>{{child.displayName}}</span>-->
<!--      </button>-->
<!--      <app-menu-item #menu [items]="child.children"></app-menu-item>-->
<!--    </ng-container>-->
<!--    &lt;!&ndash; Handle leaf node menu items &ndash;&gt;-->
<!--    <ng-container *ngIf="!child.children || child.children.length === 0">-->
<!--      <button mat-menu-item [routerLink]="child.route">-->
<!--        <mat-icon>{{child.iconName}}</mat-icon>-->
<!--        <span>{{child.displayName}}</span>-->
<!--      </button>-->
<!--    </ng-container>-->
<!--  </ng-container>-->

<!--</mat-menu>-->

<router-outlet></router-outlet>
