<mat-toolbar color="primary">
  <mat-toolbar-row calss="mat-toolbar-row">
    <button mat-button class="hamburger" [mat-menu-trigger-for]="mainMenu.childMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button *ngIf="!isLoggedIn" (click)="login(selectedUser)">LOGIN</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">LOGOUT</button>
    <mat-form-field *ngIf="!isLoggedIn">
      <mat-select [(ngModel)]="selectedUser">
        <mat-option *ngFor="let user of users" [value]="user.key">
          {{user.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h1>Welcome to {{title}}!</h1>
  </mat-toolbar-row>
</mat-toolbar>

<app-nav-menu #mainMenu [items]="menuNodes | async"></app-nav-menu>

<router-outlet></router-outlet>
